body
{
    background-image: url(https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: cursive;
    color: aliceblue;
}
.detail
{
    padding: 20px;
    border: solid palevioletred 2px;
}
.goss
{
    float: right;
    height: 150px;
}